################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DistributedUnitOfWork/bin/Debug/net8.0
/DistributedUnitOfWork/obj
